{% extends 'adminbase.html' %}
{% block content %}

<font size="" color="#cc0000"><b>{{msg}}</font></b>
<center>
<h2>Training Process</h2>
<br>
<form method="post" action="/train/">
{% csrf_token %}
		<table >
    <tr>
        <td> <h3><b>Upload Dataset file for Training</h3><input type="file" name="file" required>
    <tr>
        <td> <h3><b>Select Algorithm:
		<select name="algo" width="">
			<option value="nb" selected>Nailve Bayees
			<option value="svm">SVM
						<option value="nn">Neural Network
									<option value="knn">KNN
												<option value="rf">Random Forest

        </select>

	    <tr align="right">
        <td > <input type="submit"value="Train ">
		</td>
    </tr>


</table>


	</form>	

{% endblock %}
